@font-face {
  font-family: "RBNo2.1a";
  src: url("RBNo21a-LightItalic.eot");
  src: local("RBNo2.1a LightItalic"), local("RBNo2.1a-LightItalic"),
    url("RBNo21a-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-LightItalic.woff2") format("woff2"),
    url("RBNo21a-LightItalic.woff") format("woff"),
    url("RBNo21a-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1b";
  src: url("RBNo21b-BlackItalic.eot");
  src: local("RBNo2.1b BlackItalic"), local("RBNo2.1b-BlackItalic"),
    url("RBNo21b-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-BlackItalic.woff2") format("woff2"),
    url("RBNo21b-BlackItalic.woff") format("woff"),
    url("RBNo21b-BlackItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1a Hairline";
  src: url("RBNo21a-Hairline.eot");
  src: local("RBNo2.1a Hairline"), local("RBNo2.1a-Hairline"),
    url("RBNo21a-Hairline.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-Hairline.woff2") format("woff2"),
    url("RBNo21a-Hairline.woff") format("woff"),
    url("RBNo21a-Hairline.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1a UltraItalic";
  src: url("RBNo21a-UltraItalic.eot");
  src: local("RBNo2.1a UltraItalic"), local("RBNo2.1a-UltraItalic"),
    url("RBNo21a-UltraItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-UltraItalic.woff2") format("woff2"),
    url("RBNo21a-UltraItalic.woff") format("woff"),
    url("RBNo21a-UltraItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1a Ultra";
  src: url("RBNo21a-Ultra.eot");
  src: local("RBNo2.1a Ultra"), local("RBNo2.1a-Ultra"),
    url("RBNo21a-Ultra.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-Ultra.woff2") format("woff2"),
    url("RBNo21a-Ultra.woff") format("woff"),
    url("RBNo21a-Ultra.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1a";
  src: url("RBNo21a-MediumItalic.eot");
  src: local("RBNo2.1a MediumItalic"), local("RBNo2.1a-MediumItalic"),
    url("RBNo21a-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-MediumItalic.woff2") format("woff2"),
    url("RBNo21a-MediumItalic.woff") format("woff"),
    url("RBNo21a-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1b HairlineItalic";
  src: url("RBNo21b-HairlineItalic.eot");
  src: local("RBNo2.1b HairlineItalic"), local("RBNo2.1b-HairlineItalic"),
    url("RBNo21b-HairlineItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-HairlineItalic.woff2") format("woff2"),
    url("RBNo21b-HairlineItalic.woff") format("woff"),
    url("RBNo21b-HairlineItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1b";
  src: url("RBNo21b-Bold.eot");
  src: local("RBNo2.1b Bold"), local("RBNo2.1b-Bold"),
    url("RBNo21b-Bold.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-Bold.woff2") format("woff2"),
    url("RBNo21b-Bold.woff") format("woff"),
    url("RBNo21b-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1b Hairline";
  src: url("RBNo21b-Hairline.eot");
  src: local("RBNo2.1b Hairline"), local("RBNo2.1b-Hairline"),
    url("RBNo21b-Hairline.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-Hairline.woff2") format("woff2"),
    url("RBNo21b-Hairline.woff") format("woff"),
    url("RBNo21b-Hairline.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1a";
  src: url("RBNo21a-Black.eot");
  src: local("RBNo2.1a Black"), local("RBNo2.1a-Black"),
    url("RBNo21a-Black.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-Black.woff2") format("woff2"),
    url("RBNo21a-Black.woff") format("woff"),
    url("RBNo21a-Black.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1a";
  src: url("RBNo21a-BlackItalic.eot");
  src: local("RBNo2.1a BlackItalic"), local("RBNo2.1a-BlackItalic"),
    url("RBNo21a-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-BlackItalic.woff2") format("woff2"),
    url("RBNo21a-BlackItalic.woff") format("woff"),
    url("RBNo21a-BlackItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1b UltraItalic";
  src: url("RBNo21b-UltraItalic.eot");
  src: local("RBNo2.1b UltraItalic"), local("RBNo2.1b-UltraItalic"),
    url("RBNo21b-UltraItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-UltraItalic.woff2") format("woff2"),
    url("RBNo21b-UltraItalic.woff") format("woff"),
    url("RBNo21b-UltraItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1b";
  src: url("RBNo21b-Black.eot");
  src: local("RBNo2.1b Black"), local("RBNo2.1b-Black"),
    url("RBNo21b-Black.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-Black.woff2") format("woff2"),
    url("RBNo21b-Black.woff") format("woff"),
    url("RBNo21b-Black.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1b";
  src: url("RBNo21b-BoldItalic.eot");
  src: local("RBNo2.1b BoldItalic"), local("RBNo2.1b-BoldItalic"),
    url("RBNo21b-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-BoldItalic.woff2") format("woff2"),
    url("RBNo21b-BoldItalic.woff") format("woff"),
    url("RBNo21b-BoldItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1a Book";
  src: url("RBNo21a-Book.eot");
  src: local("RBNo2.1a Book"), local("RBNo2.1a-Book"),
    url("RBNo21a-Book.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-Book.woff2") format("woff2"),
    url("RBNo21a-Book.woff") format("woff"),
    url("RBNo21a-Book.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1b BookItalic";
  src: url("RBNo21b-BookItalic.eot");
  src: local("RBNo2.1b BookItalic"), local("RBNo2.1b-BookItalic"),
    url("RBNo21b-BookItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-BookItalic.woff2") format("woff2"),
    url("RBNo21b-BookItalic.woff") format("woff"),
    url("RBNo21b-BookItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1a";
  src: url("RBNo21a-BoldItalic.eot");
  src: local("RBNo2.1a BoldItalic"), local("RBNo2.1a-BoldItalic"),
    url("RBNo21a-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-BoldItalic.woff2") format("woff2"),
    url("RBNo21a-BoldItalic.woff") format("woff"),
    url("RBNo21a-BoldItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1b Book";
  src: url("RBNo21b-Book.eot");
  src: local("RBNo2.1b Book"), local("RBNo2.1b-Book"),
    url("RBNo21b-Book.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-Book.woff2") format("woff2"),
    url("RBNo21b-Book.woff") format("woff"),
    url("RBNo21b-Book.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1b Bold";
  src: url("RBNo21b-Medium.eot");
  src: local("RBNo2.1b Medium"), local("RBNo2.1b-Medium"),
    url("RBNo21b-Medium.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-Medium.woff2") format("woff2"),
    url("RBNo21b-Medium.woff") format("woff"),
    url("RBNo21b-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1a";
  src: url("RBNo21a-Medium.eot");
  src: local("RBNo2.1a Medium"), local("RBNo2.1a-Medium"),
    url("RBNo21a-Medium.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-Medium.woff2") format("woff2"),
    url("RBNo21a-Medium.woff") format("woff"),
    url("RBNo21a-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1a";
  src: url("RBNo21a-Light.eot");
  src: local("RBNo2.1a Light"), local("RBNo2.1a-Light"),
    url("RBNo21a-Light.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-Light.woff2") format("woff2"),
    url("RBNo21a-Light.woff") format("woff"),
    url("RBNo21a-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1b Ultra";
  src: url("RBNo21b-Ultra.eot");
  src: local("RBNo2.1b Ultra"), local("RBNo2.1b-Ultra"),
    url("RBNo21b-Ultra.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-Ultra.woff2") format("woff2"),
    url("RBNo21b-Ultra.woff") format("woff"),
    url("RBNo21b-Ultra.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1b";
  src: url("RBNo21b-MediumItalic.eot");
  src: local("RBNo2.1b MediumItalic"), local("RBNo2.1b-MediumItalic"),
    url("RBNo21b-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-MediumItalic.woff2") format("woff2"),
    url("RBNo21b-MediumItalic.woff") format("woff"),
    url("RBNo21b-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1b";
  src: url("RBNo21b-LightItalic.eot");
  src: local("RBNo2.1b LightItalic"), local("RBNo2.1b-LightItalic"),
    url("RBNo21b-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-LightItalic.woff2") format("woff2"),
    url("RBNo21b-LightItalic.woff") format("woff"),
    url("RBNo21b-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1a BookItalic";
  src: url("RBNo21a-BookItalic.eot");
  src: local("RBNo2.1a BookItalic"), local("RBNo2.1a-BookItalic"),
    url("RBNo21a-BookItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-BookItalic.woff2") format("woff2"),
    url("RBNo21a-BookItalic.woff") format("woff"),
    url("RBNo21a-BookItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1a HairlineItalic";
  src: url("RBNo21a-HairlineItalic.eot");
  src: local("RBNo2.1a HairlineItalic"), local("RBNo2.1a-HairlineItalic"),
    url("RBNo21a-HairlineItalic.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-HairlineItalic.woff2") format("woff2"),
    url("RBNo21a-HairlineItalic.woff") format("woff"),
    url("RBNo21a-HairlineItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo2.1a";
  src: url("RBNo21a-Bold.eot");
  src: local("RBNo2.1a Bold"), local("RBNo2.1a-Bold"),
    url("RBNo21a-Bold.eot?#iefix") format("embedded-opentype"),
    url("RBNo21a-Bold.woff2") format("woff2"),
    url("RBNo21a-Bold.woff") format("woff"),
    url("RBNo21a-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo2.1b";
  src: url("RBNo21b-Light.eot");
  src: local("RBNo2.1b Light"), local("RBNo2.1b-Light"),
    url("RBNo21b-Light.eot?#iefix") format("embedded-opentype"),
    url("RBNo21b-Light.woff2") format("woff2"),
    url("RBNo21b-Light.woff") format("woff"),
    url("RBNo21b-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
